<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="16107RossBreytberg.TwitchTTS" Version="1.0.13.0" Publisher="CN=8C3455C1-B52D-4009-A7EE-09A46222E635" />
  <mp:PhoneIdentity PhoneProductId="046f2aa2-ed84-4784-965e-f7e6be725d31" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TwitchTTS</DisplayName>
    <PublisherDisplayName>Ross Breytberg</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <uap:VisualElements DisplayName="TwitchTTS" Description="TwitchTTS allows you to have your Twitch chat messages read aloud to you. Simply enter your Twitch channel name and select a voice." BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:LockScreen Notification="badge" BadgeLogo="images\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" ShortName="TwitchTTS" Square310x310Logo="images\LargeTile.png" Square71x71Logo="images\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>